@font-face {
    font-family: OpenSans;
    src: url("fonts/OpenSans-Light.ttf");
}

*{font-family: 'OpenSans'; color: #FFF;}

.wrap{margin: 0 auto; width: 100%; max-width: 1140px; display: table;}

body{margin: 0; background-color: #333; display: table; width: 100%;}

.box-vendas{max-width: 400px; width: 35%; margin: 100px auto 0;
	.box-title, .box-content{background-color: #111; width: 100%; display: table; width: 100%;
		span{float: left; width: 33%; text-align: center;}
		>div{width: 99.5%; display: table; border-bottom: 1px solid #FFF;}
	}
	.box-content{background-color: #555; border: 1px solid #FFF;}
}