<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>Case Angular</title>
	</head>
	<body>
		<section>
			<div class="wrap">
				<div class="box-vendas">
					<div class="box-title">
						<span>
							<h4>Cliente</h4>
						</span>
						<span>
							<h4>Valor Venda</h4>
						</span>
						<span>
							<h4>Situação</h4>
						</span>
					</div>
					<div class="box-content">
						<div>
							<span>
								<p>Cliente</p>
							</span>
							<span>
								<p>Valor Venda</p>
							</span>
							<span>
								<p>Situação</p>
							</span>
						</div>
						<div>
							<span>
								<p>Cliente</p>
							</span>
							<span>
								<p>Valor Venda</p>
							</span>
							<span>
								<p>Situação</p>
							</span>
						</div>
						<div>
							<span>
								<p>Cliente</p>
							</span>
							<span>
								<p>Valor Venda</p>
							</span>
							<span>
								<p>Situãção</p>
							</span>
						</div>
					</div>
				</div>
				<!--table ng-show="contatos.length > 0">
					<tr>
						<th></th>
						<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
						<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
						<th>Operadora</th>
						<th>Data</th>
						<th>Serial</th>
					</tr>
					<!--tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca}"-->
					<!--tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | limitTo: 3 | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao track by contato.id">
						<td><input type="checkbox" ng-model="contato.selecionado"/></td>
						<td><a href="#/detalhesContato/{{contato.id}}">{{contato.nome | name}}</a></td>
						<td>{{::contato.telefone}}</td>
						<td>{{::contato.operadora.nome | lowercase}}</td>
						<td>{{::contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
						<td>{{::contato.serial | ellipsis:7}}</td>
					</tr>
				</table-->
			</div>
		</section>
	</body>
</html>